.checkboxHeader{ 
    width: rem(5);
}

.topActions{
    display: flex;
    margin-bottom: rem(20);
}

.sortable {
    margin-right: rem(7);
    position: relative;
    top: rem(5);
}

.pageSize{
    width: 70px;
    margin-left: rem(5);
}

.search{
    width: 200px;
}